@import "./nav_bar";
@import "./body_bg";
html,
body {
  position: relative;
  height: 100%;
}

body {
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 2vh;
}